body
{
    background-image: url(ujsag.jpg);
}

h1,h2,h3,h4
{
text-align: center;
color: rgb(255, 251, 251);
}
p
{
text-align: center;
color: rgb(255, 255, 255);

}
nav
{
background-color: rgb(0, 0, 0);
height: 75px;
word-spacing: 5px;
margin: auto;


}


#bela
{
border: solid darkblue;

width: 50%;
margin: auto;
height: 915%;
background-color: rgb(122, 120, 120);
text-align: center;
}

a
{
color: white;

}
table,td,tr
{
    
    text-align: center;
   
    height: 60px;
    
    border:3px solid darkblue;
}

td
{
width: 500px;
}

#kep
{
    border: 1px solid #fffefe;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin: auto;
    width: 75%;
    background-color: rgb(161, 194, 223);
}

.bhir
{
    width: 80%;
    border: 5px solid rgb(161, 194, 223);
}


